/* note list css */

.notes-list {
  display: flex;
  flex-wrap: wrap;
  gap: 1em;
  padding: 20px;
  justify-content: flex-start;
}

.notes-preview {
  background-color: #fff;
  border-radius: 8px;
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24);
  width: 240px;
  padding: 1em;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.notes-preview button {
  margin-top: 10px;
  padding: 6px 12px;
  background-color: var(--note-primary2);
  border: none;
  border-radius: 4px;
  color: #202124;
  cursor: pointer;
}

.notes-preview button:hover {
  background-color: var(--note-primary4);
}

.note-txt-container {
  margin-bottom: 1em;
}

.note-txt-card {
  display: flex;
  flex-direction: column;
}

.note-txt-title {
  font-weight: bold;
  font-size: 1rem;
  color: #3c4043;
  margin-block-end: 0.5em;
}

.note-txt-text {
  font-size: 0.8rem;
  color: var(--note-primary3);
}

.notes-preview:hover {
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.15), 0 2px 4px rgba(0, 0, 0, 0.12);
  transition: all 0.3s ease-in-out;
}
