/* note list css */

.notes-list {
  display: flex;
  flex-wrap: wrap;
  gap: 1em;
  padding: 1em;
  justify-content: flex-start;
}

.notes-preview {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;

  width: fit-content;
  padding: 1em;

  background-color: var(--note-primary1);
  border-radius: 8px;
}

.notes-preview:hover .notes-actions {
  display: flex;
  gap: 0.5rem;
}

.notes-actions {
  display: none;
}

.notes-preview:hover {
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.15), 0 2px 4px rgba(0, 0, 0, 0.12);
  transition: all 0.3s ease-in-out;
}
