/* note list css */

.notes-list {
  display: flex;
  flex-wrap: wrap;
  font-family: Google-Sans;
}

.notes-preview {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;

  min-width: 400px;
  min-height: 200px;
  padding: 3rem;

  border-radius: 8px;
}

.notes-preview:hover .notes-actions {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;

  gap: 0.5rem;
  transition: 0.3s ease-in;
  opacity: 1;
}

.note-img-card {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  padding: 1em;
}

.note-video-card {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  padding: 1em;
}

.notes-actions {
  opacity: 0;
}

.notes-preview:hover {
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.15), 0 2px 4px rgba(0, 0, 0, 0.12);
  transition: all 0.3s ease-in-out;
}
