/* Full-Width Header */
.notes-nav-bar {
  width: 100vw;
  display: flex;
  justify-content: start;
  align-items: center;

  gap: 5em;

  padding: 1rem 2rem;
  background-color: var(--note-primary1);
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12);
  position: sticky;
  top: 0;
  z-index: 100;
}

/* Hamburger Icon */
.hamburger-icon {
  font-size: 24px;
  cursor: pointer;
  margin-right: 1rem;
}

.hamburger-icon-close {
  font-size: 24px;
  cursor: pointer;
  margin-inline: 1rem;
}

/* Side Menu - Initially Hidden */
.notes-menu-container {
  width: 250px;
  background-color: var(--note-primary1);
  box-shadow: 0 1px 5px rgba(0, 0, 0, 0.1);
  display: none;
  flex-direction: column;
  padding-top: 1em;
  overflow-y: auto;
  position: absolute;
  top: 0;
  left: 0;
  height: 100vh;
  z-index: 150;
}

/* Show Side Menu when Menu is Open */
.notes-index .notes-menu-container {
  display: flex;
}

/* Menu Items */
.notes-menu {
  padding: 0;
  margin: 0;
}

.notes-menu li {
  margin: 1rem 0;
}

.notes-menu li a {
  text-decoration: none;
  color: var(--note-primary3);
  font-size: 1rem;
  font-weight: 500;
  padding: 0.75rem 1rem;
  display: block;
  transition: background-color 0.3s;
  border-radius: 0 24px 24px 0;
}

.notes-menu li a:hover,
.notes-menu li a.active {
  background-color: var(--note-primary7);
  color: var(--note-primary6);
}

/* Notes Body */
.notes-body {
  flex-grow: 1;
  display: flex;
  flex-direction: column;
  padding: 2rem;
  overflow-y: auto;
}
