header {
  background: var(--app-primary1);
  border-bottom: 2px solid white;
}

header nav,
header a {
  margin-inline: 2em;
}

.app-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 15px 0;
}

.appsy-logo {
  width: 150px;
  height: 60px;
}

nav a {
  margin: 0.5em;
}

nav a:active {
  color: purple;
}

nav a.active {
  color: darkblue;
  font-weight: bold;
  text-decoration: underline;
}
