.user-msg {
  position: absolute;
  background-color: lightgray;
  top: 1em;
  right: 1em;
  padding: 1em;
}

.user-msg.success {
  background-color: lightgreen;
}

.user-msg.error {
  background-color: lightpink;
}

.user-msg button {
  float: right;
  margin: 1em;
}
